@import "../extra/variables.css";
@import "../extra/_mixins";

@include svg;

.attempt-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;

  &__label {
    padding: 20px 10px;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  &__content-footer {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lavendar-color;
    border-radius: 0 0 10px 10px;
  }
}

.qgroup-wrapper {
  padding: 10px 20px;
  background-color: $light-light-gray-color;
  border-radius: 10px 10px 0 0;

  &__question-wrapper {
    width: 90%;
    background-color: $neutral-color;
    margin: 15px 25px 5px;
    border-radius: 10px;
    padding: 5px 15px 0; 
    display: flex;
    flex-direction: column;
  }
}

.qgroup-label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label {
    font-weight: bold;
  }
}

.question-wrapper {
  &__text {
    padding: 10px 5px;
  }
  &__answer-option-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__header-label-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__header-label-text {
    padding-right: 10px;
  }
}

.answer-option-wrapper {
  &__label-wrapper {
    display: flex;
    align-items: center;
  }
  &__label {
    padding-left: 5px;
    &--chosen {
      color: green;
    }
  }
  &__radio {
    margin: 0;
    padding: 5px 0;
  }
  &__text-field {
    width: 50%;
    height: 26px;
    margin: 10px 20px 0;
    padding: 7px;
    border-radius: 5px;

    border: solid 1px $light-gray-color;
    background-color: $light-light-gray-color;
    color: $light-light-gray-color;

    &--active {
      border: solid 1px $black-color;
      background-color: $white-color;
      color: $black-color;
    }
  }
}

.progress {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__element {
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $light-gray-color;

    &--active {
      background-color: $green-color;
    }
  }
}

.next-button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: $green-color;
}