<%= javascript_pack_tag "extra/table-behavior.js" %>

<div class="model-wrapper">
  <div class="model-wrapper__label">Admin account</div>
  <div class="model-wrapper__model-group">
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Nickname: </div>
        <div class="model-info-wrapper__info"><%= @administrator.nickname %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Email:</div>
        <div class="model-info-wrapper__info"><%= @administrator.account.email %></div>
      </div>
    </div>
  </div>
</div>
