<div class="listing-wrapper">
  <div class="listing-wrapper__label">Client's listing</div>
  <% unless @clients.empty? %>
    <% @clients.each do |client| %>
      <div class="listing-wrapper__model-wrapper model-wrapper colored-group">
        <div class="model-wrapper__model-info model-info">
          <div class="model-info__label">Logo URL:</div>
          <div class="model-info__information"><%= client.logo_url %></div>
        </div>
        <div class="model-wrapper__model-info model-info">
          <div class="model-info__label">Label:</div>
          <div class="model-info__information"><%= client.label %></div>
        </div>
        <%= link_to("Details", admin_client_url(client), class: "model-wrapper__button link-button") %>
      </div>
    <% end %>
  <% else %>
    <div class="listiong-wrapper__message">Empty</div>
  <% end %>
</div>
