@import "../extra/variables.css";
@import "../extra/_mixins";

@include links;
@include highlighting;
@include custom-table;
@include svg;
@include pagination;

.listing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 90%;

  &__label-wrapper {
    padding: 20px 10px 15px;
    font-size: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__model-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.label-wrapper {

  &__label {
    padding: 20px 0 10px;
    font-size: 32px;
  }
  &__button-group {
    display: flex;
    align-items: center;
  }
}
.model-wrapper {
  margin-left: 10px;

  &__model-info {
    display: flex;
  }
  &__button {
    margin-left: 10px;
    margin-bottom: 5px;
  }
}
.model-info { 
  padding: 5px 10px;

  &__label {
    font-weight: bold;
    margin-right: 10px;
  }
  &__information {
    margin-right: 10px;
  }
}

.search {
  &__form {
    display: flex;
    align-items: center;
  }
  &__input {
    width: 100%;
    padding: 10px;
    border-width: 0;
    border-radius: 10px 0 0 10px;
    border-style: none;
  }
  &__button {
    padding: 11.4px;
    border-radius: 0 10px 10px 0;
    background-color: $lavendar-color;
  }
}