@import "../extra/variables.css";
@import "../extra/_mixins";

@include links;
@include highlighting;
@include svg;

.model-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__label {
    padding: 20px 0 10px;
    font-size: 32px;
  }
  &__model-group {
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
  }
  &__model-info-block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__model-info-wrapper {
    display: flex;
    align-items: center;
  }
  &__label-text-field {
    width: 50%;
    padding: 10px 5px;
    font-size: 32px;
  }
}
.input-wrapper {
  display: flex;
  justify-content: space-between;
}
.model-info-wrapper {
  &__label {
    padding: 20px 10px 10px;
    font-size: 25px;
  }
  &__info {
    padding: 20px 10px 10px;
  }
}
.model-table-wrapper {
  padding: 20px 20px;
  &__label {
    padding: 15px 10px;
    font-size: 25px;
    // font-weight: bold;
  }
  &__table {
    padding-bottom: 10px;
  }
}

.model-header {
  margin-left: 10px;
}

.object-group-wrapper {
  display: flex;
  flex-direction: column;

  margin-left: 10px;

  &__label {
    font-weight: bold;
  }
  &__info-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__message {
    padding: 5px 10px;
  }
  &__button {
    margin: 5px 10px;
  }
}
.info-wrapper {
  padding: 5px 10px;
  &__label {
    font-weight: bold;
    margin-right: 10px;
  }
  &__information {
    margin-right: 10px;
  }
  &__content {
    padding: 5px 10px;

    display: flex;
    flex-direction: column;
  }
}