<%= content_tag :div, id: "qgroups_data", data: {qgroups: @qgroups_data} do %>
<% end %>

<%= javascript_pack_tag "user/surveys/attempt.js" %>

<div class="attempt-wrapper">
  <%= form_with url: conduct_user_survey_url(@survey), method: :put do |form| %>
  <div class="attempt-wrapper__label font-large">
    Survey Label
  </div>
  <div class="attempt-wrapper__content-wrapper content-wrapper">
    <!-- Question group info here -->
    <div class="content-wrapper__content-footer content-footer">
      <div class="progress__wrapper">
        <!-- Progress element data here -->
      </div>
      <%= image_submit_tag("next-arrow.svg", class: 'next-button svg-next-arrow') %>
    </div>
  </div>
  <% end %>
</div>
