/*
 *
 *= require_tree .
 *
*/

@import "extra/_variables";


body {
  padding: 0px;
  margin: 0px;
}
.employer-wrapper {
  background-color: $employer-background-color;
}
.employer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $employer-header-background-color;

  &__label {
    padding: 15px;

    background-color: $employer-header-label-color;
    color: $white-color;
    text-decoration: none;
  }
  &__sections {
    align-self: flex-end;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    width: 100%;
    margin: 0 15px;
  }
}
.employer-header-sections {
  &__section {
    padding: 15px;
    margin: 0 5px;
    border-radius: 10px 10px 0 0;

    text-decoration: none;
    background-color: $employer-header-selector-color;
    color: $white-color;
    &:hover {
      background-color: $employer-header-label-color;
      color: $light-gray-color;
    }
  }
}

.content {
  min-height: 86.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 40px 10px;
}

.employer-footer {
  width: 100%;
  height: 30px;
  background-color: $employer-header-label-color;
  display: flex;
  align-content: center;
  justify-content: space-around;

  &__text {
    line-height: 1.7;
  }
}
