$paper-color: #d5d5d5;
$overcast-color: #9099a2;
$lavendar-color: #6d7993;
$dusty-color: #96858f;
$white-color: #ffffff;
$black-color: #000000;
$light-grey-color: #d3d3d3;
$light-light-grey-color: #e4e4e4;
$dark-grey-color: #363737;
$neutral-color: #efefef;
$light-green-color: #90ee90;
$green-color: #54ac68;

$company-background-color: #ffffb4;
$company-header-background-color: #b89f3f;
$company-header-label-color: #8269a1;
$company-header-selector-color: #d1ca00;

$user-background-color: #b4ffb4;
$user-header-background-color: #4aac4a;
$user-header-label-color: #20B2AA;
$user-header-selector-color: #28ca28;