$paper-color: #d5d5d5;
$overcast-color: #9099a2;
$lavendar-color: #6d7993;
$dusty-color: #96858f;
$white-color: #ffffff;
$black-color: #000000;
$light-grey-color: #d3d3d3;
$light-light-grey-color: #e4e4e4;
$dark-grey-color: #363737;
$neutral-color: #efefef;
$light-green-color: #90ee90;
$green-color: #54ac68;
