@import "../extra/variables.css";
@import "../extra/_mixins";

@include svg;

.attempt-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;

  &__label {
    padding: 20px 10px;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  &__content-footer {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lavendar-color;
    border-radius: 0 0 10px 10px;
  }
}

.qgroup-wrapper {
  padding: 10px 20px;
  background-color: $light-light-grey-color;
  border-radius: 10px 10px 0 0;

  &__qgroup-label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__question-wrapper {
    padding: 10px 40px 5px;
    display: flex;
    flex-direction: column;
  }
}

.question-wrapper {
  &__text {
    padding-bottom: 5px;
  }
  &__answer-field {
    width: 60%;
    margin: 5px 20px;
    padding: 5px 10px;
  }
}

.progress {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__element {
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $light-grey-color;

    &--active {
      background-color: $green-color;
    }
  }
}

.next-button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: $green-color;
}