<div class="header">
  <%= link_to "Employee", employee_root_url, class: "header__label font-large" %>
  <div class="header__sections header-sections">
    <%= link_to "Surveys", employee_surveys_url, class: "header-sections__section font-big" %>
    <%= link_to "Results", employee_results_url, class: "header-sections__section font-big" %>
  </div>
  <div class="header__buttons header-buttons">
    <%= button_to "Logout", destroy_account_session_url, method: :delete, class: "header-buttons__button font-medium" %>
  </div>
</div>